.code-snippet-container {
   margin: 30px 0;
   background-color: var(--color-code-language-label-bg);
   overflow: hidden;
   border-radius: 5px;

}

.code-snippet-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--color-console-header-bg);
   border-bottom: solid;
   border-color: #fcf1c2;
   border-width: 1px;
   color: white;
}
.code-snippet-header button {
   padding: 10px;
   padding-right: 20px;
}
.code-snippet-header .copy-icon {
   width: 25px;
   height: 25px;
   color: white;
}

.code-snippet-header .title {
   font-weight: 400;
   padding: 10px;
}
.code-snippet-body {
   border-radius: 5px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   border: solid;
   border-top: none;
   border-width: 1px;
}
.code-line {
   font-size: 15px;
   line-height: 10px;
}
.code-keyword {
   color: #83D7E7
}
.code-punctuation {
   color: #E0C144;
}

.code-operator {
   color: #B8365F;
}

.code-snippet-body pre[class*="language-"] {
   padding: 20px 10px;
   padding-bottom: 30px;
}

@media (max-width: 768px) {
   .code-snippet-container {
      margin: 10px;
      margin-bottom: 20px;
   
   }
}