.experience-item-container {
    list-style-type: none;
    font-size: 18px;
    padding: 30px 0;
    display: flex;
}

.experience-icon {
    font-size: 36px !important;
    /* min-width: 36px; */
    margin-right: 30px;
    margin-left: 0;
    position: relative;
    top: -10px;
}

.experience-institution {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #e45858;
}

.experience-details {
    margin-left:0;
}


@media (max-width: 460px) {
    .experience-item-container {
        padding: 20px 0;
    }
    .experience-institution {
        font-size: 14px;
    }
    .experience-position {
        font-size: 18px;
    }
}