.footer {
   background-color: var(--color-footer);
   color: white;
   margin-top: auto;
}

.footer-container {
   width: 100%;
   max-width: 950px;
   margin: 0 auto;
   padding: 30px;
   text-align: center;
}

.footer-container .footer-small {
   font-size: 10px;
   color: #ffffff;
   margin-top: 10px;
}

@media only screen and (max-width: 768px) {
   .footer-container {
      padding: 30px 15px;
  }
   
}
