.project-item-container {
  display: flex;
  padding: 25px 30px;
  align-items: center;
  margin: 0 -30px;
}

.project-item-container + .project-item-container {
  border-top: 1px solid var(--color-divider);
}

.project-item-container .project-content {
  padding-right: 20px;
  margin-left: 0;
}

.project-content .project-title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.project-item-container .project-image {
  width: 35px;
  margin-right: 30px;
  margin-left: 0;
}

.project-item-container .project-links {
  margin-right: 0;
}

.project-content .project-description {
  font-size: 14px;
  flex: 1 1;
  color: #848991;
  line-height: 1.5;
  font-weight: 500;
}

.project-github {
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  color: #fffffe;
  background-color: #4a5568;
  margin-left: auto;
}

@media (max-width: 768px) {
  .project-item-container {
    padding: 20px 0px;
    margin: 0;
  }
}