#about-me {
   /* background-color: var(--color-background); */
   position: relative;
   width: 100%;
   height: 100%;
   color: #FFFFFF;
}
#about-me .content {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 40px;
}

   /* display: flex;
   flex-direction: row; */
#about-me .content #first {
   padding: 40px;
}

#about-me .content #first img {
   height: 250px;
   float: left;
   margin: 10px 30px 10px 30px;
}

img {
   border-radius: 5px;
}

.icons {
   display: flex;
   list-style: none;
   justify-content: center;
   align-items: center;
}

.icons img {
   width: 70px;
   height: 70px;
   padding: 10px;
   filter: grayscale(1);
   transition: all 0.5s ease-in-out;
}

.icons img:hover {
   filter: none;
}



.highlight {
   background-color: var(--color-about-highlight-bg);
   margin: 0.3em;
   padding: 0.3em 0.7em;
   color: var(--color-body);/*#8d8d8d*/;
   transition: color 0.5s ease-in-out;
}

.highlight:hover{
   color: #FFFFFF;
}

.web-link {
   color: var(--color-body);
   transition: color 0.5s ease-in-out;
}
.web-link:hover {
   color: #FFFFFF;
}

@media (max-width: 460px) {
   #about-me .content {
      padding: 0;
   }
   #about-me .content #first img {
      float: initial;
      margin: initial;
      height: initial;
      width: 100%;
      margin-bottom: 30px;
   }

   #about-me .about-heading {
       font-size: 24px;
   }
   #about-me .about-content {
      margin-top: 20px;
   }
   .about-container p {
      font-size: 16px;
  }
}

@media only screen and (max-width: 700px) {
   #about-me {
      height: 100%;
   }

   .icons {
      flex-wrap: wrap;
   }
}