#about-me {
   background-color: #1c1c1c;
   background-image: url("../../assets/backgrounds/pattern/topography.png");
   position: relative;
   width: 100%;
   height: 100%;
   color: #FFFFFF;
}
#about-me .content {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 40px;
}

.icons {
   display: flex;
   list-style: none;
   justify-content: center;
   align-items: center;
}

.icons img {
   width: 70px;
   height: 70px;
   padding: 10px;
   filter: grayscale(1);
   transition: all 0.5s ease-in-out;
}

.icons img:hover {
   filter: none;
}



.highlight {
   background-color: #141414;
   margin: 0.3em;
   padding: 0.3em 0.7em;
   color: #8d8d8d;
   transition: color 0.5s ease-in-out;
}

.highlight:hover{
   color: #FFFFFF;
}

.web-link {
   color: #8d8d8d;
   transition: color 0.5s ease-in-out;
}
.web-link:hover {
   color: #FFFFFF;
}

@media only screen and (max-width: 700px) {
   #about-me {
      height: 100%;
   }

   .icons {
      flex-wrap: wrap;
   }
}