#intro {
   background-image: url("../../assets/backgrounds/desk01.JPG");
   background-size: cover;
   position: relative;
   width: 100%;
   height: 100vh;
   color: #FFFFFF;
}

.bttn {
   margin: 20px;
   padding: 15px;
   width: 200px;
   font-size: 20px;
   font-weight: 600;
   color: #000000;
   background-color: #FFFFFF;
   text-align: center;
   border-radius: 5px;
}

.bttn:hover {
   transform: scale(1.1);
}

.container {
   display: flex;
   position: relative;
   top: 25%;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center;
}

.container .name {
   text-align: center;
   margin: 20px;    
   display: flex;
   flex-direction: column;
   align-items: center;
}
.container .name h2 {
   font-size: clamp(50px, 4vw, 4vw);
}
.container .name p,
.container .name h2 { 
   width: 80%;
}

@media only screen and (max-width: 700px) {
   #intro {
      height: 100%;
   }
   .container .name p,
   .container .name h2 { 
     width: 100%;
   }
}

@media only screen and (min-width: 1199px) {
   .container .name p,
   .container .name h2 { 
      width: 700px;
   }

   .mouse {
      position: relative;
      margin: 0 auto;
      width: 30px;
      height: 50px;
      top: 35%;
      border: 1px solid #FFFFFF;
      border-radius: 20px;
      overflow: hidden;
   }

   .mouse::before {
      content: '';
      position: absolute;
      background-color: #FFFFFF;
      top: 5px;
      left: 45%;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      transform: translateX(-60%);
      animation: wheel 1.7s infinite;
      -webkit-animation: wheel 1.7s infinite;
      box-shadow: 0px -5px 3px 1px #ffffff66;
   }

   @keyframes wheel {
      from {
         transform: translateY(50%);
      }
      to {
         transform: translateY(800%);
         opacity: 0;
      }
   }
}