#projects {
   background-image: url("../../assets/backgrounds/pattern/graph-paper.png");
   background-color: #3f3f3f;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#projects .section-title {
   padding: 20px;
   font-size: clamp(40px, 3vw, 3vw);
   font-weight: 300;
   text-transform: uppercase;
}

.criteria-list {
   padding: 0;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(50px, 200px));
   width: 70vw;
   max-width: 1000px;
   list-style-type: none;
 }
 .criteria-list li {
   margin-right: 1em;
   text-align: center;
 }


.project-container {
   margin-top: 2em;
}


.module {
   margin-bottom: 10em;
   transition: box-shadow 0.4s ease-in-out;
}

.module:hover {
   box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}


@media (max-width: 700px) {
   .criteria-list {
     /* width: 90vw;
     grid-template-columns: repeat(1,1fr);
     grid-template-rows: repeat(3, 1fr); */
   }
   .criteria-list li {
     margin-bottom: 1em;
     font-size: 14px;
   }
 }