.projects-heading {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 28px;
    margin-bottom: 30px;
}

.projects-list {
    padding: 0 40px;
 }

@media (max-width: 460px) {
    #project-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .projects-list {
        padding: 0;
     }
}