@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html.dark-mode {
  --color-background: #333544;
  --color-heading: #fff;
  --color-subheading: #ddd;
  --color-body: #ccc;
  --color-code-bg: #333340;
  --color-footer: #223;
  --color-article-hover: #445;
  --color-about-highlight-bg: #443944;
  --color-about-highlight-hover: #333544;
  --color-highlight-container-bg: #223;
  --color-code-file-label: #223;
  --color-code-language-label-bg: #223;
  --color-code-border: #445;
  --color-console-header-bg: #445;
  --color-divider: #556;
  --color-border-code-file-label: #ddd;
  --color-viewMore-bg: #445;
  --color-viewMore-text: white;
  --color-viewMore-bg--hover: #223;
  --color-header-shadow: #223;
  --color-tooltip-icon-background: #112;
  --color-tooltip-icon-border: #6246ea;
  --color-tooltip-icon-text: #6246ea;
  --color-tag-bg: #223;
  --color-tag-text: #fff;
  --color-search-background: #445;
  --color-search-border: #4a5568;
  --color-view-writeup-text: var(--color-tag-text);
  --color-view-writeup-bg: var(--color-tag-bg);
  --color-view-writeup-bg--hover: var(--color-tooltip-icon-background);
}

html {
  --color-background: #fcfcff;
  --color-heading: #2d3748;
  --color-subheading: #4a5568;
  --color-body: #444444;
  --color-code-bg: #f9f9ff;
  --color-code-border: rgba(74, 85, 104, 0.1);
  --color-footer: var(--color-heading);
  --color-article-hover: #eeeeee;
  --color-about-highlight-bg: #b0b0bb;
  --color-about-highlight-hover: #808088;
  --color-highlight-container-bg: #eae6fc;
  --color-code-file-label: #2d3748;
  --color-code-language-label-bg: #2d3748;
  --color-divider: #eeeeee;
  --color-border-code-file-label: transparent;
  --color-console-header-bg: #eeeeee;
  --color-viewMore-bg: #eeeeee;
  --color-viewMore-text: #4a5568;
  --color-viewMore-bg--hover: #d5d5d5;
  --color-header-shadow: #eeeeee;
  --color-tooltip-icon-background: #fcfcff;
  --color-tooltip-icon-border: rgba(98, 70, 234, 0.5);
  --color-tooltip-icon-text: #6246ea;
  --color-tag-bg: #eee;
  --color-tag-text: #333;
  --color-search-background: #ffffff;
  --color-search-border: #eeeeee;
  --color-search-placeholder: #848991;
  --color-view-writeup-text: #e45858;
  --color-view-writeup-bg: #fdf2f2;
  --color-view-writeup-bg--hover: #f9dcdc;
}

* {
 font-family: "Lato", sans-serif;
 margin: 0 auto;
 padding: 0;
 box-sizing: border-box;
 max-width: 100vw;
}

body {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5 {
  color: var(--color-heading);
  line-height: 1.2;
}

a {    
  color: var(--color-heading);
  text-decoration: none;
}

h2 {
  font-size: clamp(24px, 3vw, 3vw);
  font-weight: 300;
  margin: 0;
}

p {
  font-size: clamp(16px, 1.2vw, 1.2vw);
  line-height: 2;
  color: var(--color-body);
  margin-bottom: 20px;
}

button {
  padding: 0;
  border: none;
  background: none;
}

input[type="text" i] {
  padding: 1px 2px;
}

#root {
  margin: 0;
}

.app-body {
  padding-top: 100px;
  max-width: 1000px;
  min-height: 100vh;
}
@media (max-width: 460px) {
  .app-body {
    padding-bottom: 30px;
  }

  .app-body {
    padding: 15px;
  }
}

@media (max-width: 768px){
}

@media (max-width: 979px) {
  .app-body {
    padding-top: 100px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #333544;
    --color-heading: #fff;
    --color-subheading: #ddd;
    --color-body: #ccc;
    --color-code-bg: #333340;
    --color-footer: #223;
    --color-article-hover: #445;
    --color-about-highlight-bg: #443944;
    --color-about-highlight-hover: #333544;
    --color-highlight-container-bg: #223;
    --color-code-file-label: #223;
    --color-code-language-label-bg: #223;
    --color-code-border: #445;
    --color-console-header-bg: #445;
    --color-divider: #556;
    --color-border-code-file-label: #ddd;
    --color-viewMore-bg: #445;
    --color-viewMore-text: white;
    --color-viewMore-bg--hover: #223;
    --color-header-shadow: #223;
    --color-tooltip-icon-background: #112;
    --color-tooltip-icon-border: #6246ea;
    --color-tooltip-icon-text: #6246ea;
    --color-tag-bg: #223;
    --color-tag-text: #fff;
    --color-search-background: #445;
    --color-search-border: #4a5568;
    --color-view-writeup-text: var(--color-tag-text);
    --color-view-writeup-bg: var(--color-tag-bg);
    --color-view-writeup-bg--hover: var(--color-tooltip-icon-background);
  }
}