@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
 font-family: "Lato", sans-serif;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

a {
  text-decoration: none;
}

h2 {
  font-size: clamp(24px, 3vw, 3vw);
  font-weight: 300;
  margin: 0;
}

p {
  font-size: clamp(16px, 1.2vw, 1.2vw);
  line-height: 2;
  color: #FFFFFF;
  margin-bottom: 20px;
}